<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: Change alot of 'a' links to routerlinks -->
<!-- LATER: Pagination -->
<!-- LATER: make table look better on mobile view -->
<!-- Header -->
<div class="main-content">
  <div class="container-fluid">
    <!-- <app-pricing-modal></app-pricing-modal> -->

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h1 class="header-title">Inventory</h1>
              </div>
              <div class="col-auto">
                <!-- Button -->
                <!-- TODO: make this generic -->
                <button (click)="onNewItem()" class="btn btn-primary lift">
                  New Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats Overview -->
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Items In Inventory
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ itemsInInventory }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-shopping-cart text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">Active Listings</h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ activeListings }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-check-circle text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">Sold Items</h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ soldItems }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-shopping-bag text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">Total Sales</h6>

                <!-- Heading -->
                <span class="h2 mb-0">${{ totalSales }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List -->

    <div class="mt-3">
      <!-- Products -->
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input
                    class="list-search form-control"
                    type="search"
                    placeholder="Search by Title"
                    (keyup)="onSearchKey($event)"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive mb-0" id="productsList">
          <table class="table table-sm table-hover card-table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
                <th colspan="2" scope="col  text-right ">Marketplaces</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let item of filteredItems">
                <td class="products-product">
                  <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="avatar">
                      <img
                        *ngIf="item.imageUrls.length > 0; else imagePlaceholder"
                        class="avatar-img rounded mr-3"
                        src="{{ item.imageUrls[0] }}"
                      />

                      <ng-template #imagePlaceholder>
                        <img
                          class="avatar-img rounded mr-3"
                          src="assets/image-placeholder.png"
                        />
                      </ng-template>
                    </div>

                    <div class="ml-3">
                      <!-- Title -->
                      <!-- LATER: make this more responsive: width sizing -->
                      <h4 class="font-weight-normal mb-1" style="width: 200px">
                        <a [routerLink]="['/item', item.id]">
                          <span *ngIf="item.title != ''; else untitled">
                            {{ item.title }}
                          </span>

                          <ng-template #untitled>
                            <span>(Untitled)</span>
                          </ng-template>
                        </a>
                      </h4>

                      <!-- SKU -->
                      <small *ngIf="item.sku" class="text-muted"
                        >SKU: {{ item.sku }}</small
                      >
                    </div>
                  </div>
                </td>

                <!-- Status -->
                <td>
                  <span
                    class="badge font-weight-bold text-capitalize"
                    [ngClass]="{
                      'badge-soft-primary': item.status === 'sold',
                      'badge-soft-secondary': item.status === 'draft',
                      'badge-soft-success': item.status === 'active'
                    }"
                    >{{ item.status }}</span
                  >
                </td>
                <!-- Price -->
                <td class="font-weight-bold">${{ item.price || 0 }}</td>
                <!-- Cost -->
                <!-- TODO: add optional binding with value '0' if null, chimpcharge has a good example of this. so try it out -->
                <td>${{ item.cost || 0 }}</td>
                <!-- Date; with pipe modifier; converts unix seconds to Date -->
                <td>{{ item.modified.seconds * 1000 | date }}</td>
                <td class="text-left">
                  <div class="avatar-group">
                    <span
                      *ngFor="let marketplace of listedMarketplaces[item.id]"
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ marketplace }}"
                    >
                      <img
                        src="assets/marketplace-logos/{{ marketplace }}.png"
                        class="avatar-img rounded-circle"
                        alt="{{ marketplace }}"
                      />
                    </span>
                  </div>
                </td>
                <td class="text-right">
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a
                      href="#"
                      class="dropdown-ellipses dropdown-toggle"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- TODO: Maybe add more specific items to list -->
                      <!-- TODO: ngif, mark as sold/unmark as sold based on status -->

                      <button
                        (click)="onMarkItemSold(item.id)"
                        class="dropdown-item"
                        *ngIf="item.status != 'sold'; else unMarkSold"
                      >
                        Mark as sold
                      </button>
                      <ng-template #unMarkSold>
                        <button
                          (click)="onUnmarkItemSold(item.id)"
                          class="dropdown-item"
                        >
                          Unmark as sold
                        </button>
                      </ng-template>

                      <a
                        [routerLink]="['/item', item.id]"
                        class="dropdown-item"
                      >
                        Edit
                      </a>
                      <button
                        (click)="onDeleteItem(item.id)"
                        class="dropdown-item"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
