<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: Change alot of 'a' links to routerlinks -->
<!-- LATER: Pagination -->
<!-- LATER: make table look better on mobile view -->
<!-- Header -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h1 class="header-title">Inventory</h1>
              </div>
              <div class="col-auto">
                <!-- Button -->
                <button (click)="onNewItem()" class="btn btn-primary lift">
                  New Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats Overview -->
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Items In Inventory
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ itemsInInventory }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-shopping-cart text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">Active Listings</h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ activeListings }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-check-circle text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">Sold Items</h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ soldItems }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-shopping-bag text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  <u
                    matTooltip="Not including cost/fees"
                    matTooltipPosition="above"
                  >
                    <!-- LATER: show profit -->
                    Total Sales
                  </u>
                </h6>

                <!-- Heading: with currency pipe modifier: shows currency symbol -->
                <span class="h2 mb-0">{{ totalSales | currency: "USD" }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List -->

    <div class="mt-3">
      <!-- Products -->
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input
                    class="list-search form-control"
                    type="search"
                    placeholder="Search by Title"
                    (keyup)="onSearchKey($event)"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive mb-0" id="productsList">
          <table class="table table-sm table-hover card-table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Status</th>
                <th scope="col">
                  <u
                    matTooltip="Sales Price - (Cost + Fees) = Profit"
                    matTooltipPosition="above"
                  >
                    Profit
                  </u>
                </th>
                <th scope="col">Price</th>
                <th scope="col">Cost</th>
                <th scope="col">
                  <u matTooltip="Marketplace Fees" matTooltipPosition="above">
                    Fees
                  </u>
                </th>
                <th scope="col">Date</th>
                <th scope="col">Sold On</th>
                <th colspan="2" scope="col  text-right ">Listed On</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let item of filteredItems">
                <td class="products-product">
                  <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="avatar">
                      <img
                        *ngIf="
                          item.images && item.images.length > 0;
                          else imagePlaceholder
                        "
                        class="avatar-img rounded mr-3"
                        src="{{ storagePath }}{{ item.images[0].blobID }}"
                      />
                      <!-- TODO: update image url path -->

                      <ng-template #imagePlaceholder>
                        <img
                          class="avatar-img rounded mr-3"
                          src="assets/image-placeholder.png"
                        />
                      </ng-template>
                    </div>

                    <div class="ml-3">
                      <!-- Title -->
                      <!-- LATER: make this more responsive: width sizing -->
                      <h4 class="font-weight-normal mb-1" style="width: 200px">
                        <a [routerLink]="['/item', item.id]">
                          <span *ngIf="item.title != ''; else untitled">
                            {{ item.title }}
                          </span>

                          <ng-template #untitled>
                            <span>(Untitled)</span>
                          </ng-template>
                        </a>
                      </h4>

                      <!-- SKU -->
                      <small *ngIf="item.sku" class="text-muted"
                        >SKU: {{ item.sku }}</small
                      >
                    </div>
                  </div>
                </td>

                <!-- Status -->
                <td>
                  <span
                    *ngIf="item.sold; else showStatus"
                    class="
                      badge badge-soft-primary
                      font-weight-bold
                      text-capitalize
                    "
                  >
                    Sold
                  </span>

                  <ng-template #showStatus>
                    <span
                      class="badge font-weight-bold text-capitalize"
                      [ngClass]="{
                        'badge-soft-secondary': item.status === 'draft',
                        'badge-soft-success': item.status === 'active'
                      }"
                      >{{ item.status }}</span
                    >
                  </ng-template>
                </td>
                <!-- Profit: with currency pipe modifier: shows currency symbol -->
                <td class="text-dark font-weight-bold">
                  <span *ngIf="item.sold; else profitEmpty">
                    {{
                      item.price - (item.cost + item.sold.fees)
                        | currency: "USD"
                    }}
                  </span>

                  <ng-template #profitEmpty>
                    <span>--</span>
                  </ng-template>
                </td>

                <!-- Price: with currency pipe modifier: shows currency symbol -->
                <td class="text-secondary font-weight-bold">
                  {{ item.price || 0 | currency: "USD" }}
                </td>

                <!-- Cost: with currency pipe modifier: shows currency symbol -->
                <td class="text-muted">
                  {{ item.cost || 0 | currency: "USD" }}
                </td>

                <!-- Fees: with currency pipe modifier: shows currency symbol  -->
                <td class="text-muted">
                  <span *ngIf="item.sold && item.sold.fees; else feesEmpty">
                    {{ item.sold.fees | currency: "USD" }}
                  </span>

                  <ng-template #feesEmpty>
                    <span>--</span>
                  </ng-template>
                </td>

                <!-- Date; with pipe modifier; converts unix seconds to Date -->
                <td>{{ item.modified.seconds * 1000 | date: "shortDate" }}</td>

                <!-- Marketplace Sold -->
                <td>
                  <span
                    *ngIf="item.sold"
                    class="avatar avatar-xs text-center"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ item.marketplace }}"
                  >
                    <img
                      src="assets/marketplace-logos/{{
                        item.sold.marketplace
                      }}.png"
                      class="avatar-img rounded-circle"
                      alt="{{ item.marketplace }}"
                    />
                  </span>
                </td>

                <!-- Marketplace Listed On -->
                <td class="text-left">
                  <div class="avatar-group">
                    <span
                      *ngFor="let marketplace of listedMarketplaces[item.id]"
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ marketplace }}"
                    >
                      <img
                        src="assets/marketplace-logos/{{ marketplace }}.png"
                        class="avatar-img rounded-circle"
                        alt="{{ marketplace }}"
                      />
                    </span>
                  </div>
                </td>
                <td class="text-right">
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a
                      href="#"
                      class="dropdown-ellipses dropdown-toggle"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- TODO: ngif, mark as sold/unmark as sold based on status -->

                      <button
                        (click)="onUnmarkItemSold(item.id)"
                        class="dropdown-item"
                        *ngIf="item.sold; else markSold"
                      >
                        Unmark as sold
                      </button>
                      <ng-template #markSold>
                        <button
                          class="dropdown-item"
                          (click)="onMarkItemSold(item)"
                        >
                          Mark as sold
                        </button>
                      </ng-template>

                      <a
                        [routerLink]="['/item', item.id]"
                        class="dropdown-item"
                      >
                        Edit
                      </a>
                      <button
                        (click)="onDeleteItem(item.id)"
                        class="dropdown-item"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
