<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: Change alot of 'a' links to routerlinks -->
<!-- LATER: Pagination -->
<!-- LATER: make table look better on mobile view -->
<!-- Header -->
<div class="main-content">
  <div class="container-fluid">
    <app-pricing-modal></app-pricing-modal>

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate">Inventory</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List -->

    <div class="">
      <!-- Products -->
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <form>
                <div class="input-group input-group-flush">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fe fe-search"></i>
                    </span>
                  </div>
                  <input
                    class="list-search form-control"
                    type="search"
                    placeholder="Search"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive mb-0" id="productsList">
          <table class="table table-sm table-hover card-table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
                <th colspan="2" scope="col  text-right ">Marketplaces</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td class="products-product">
                  <div class="d-flex align-items-center">
                    <!-- Image -->
                    <div class="avatar">
                      <img
                        class="avatar-img rounded mr-3"
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        alt="..."
                      />
                    </div>

                    <div class="ml-3">
                      <!-- Heading -->
                      <!-- LATER: make this more responsive -->
                      <h4 class="font-weight-normal mb-1" style="width: 200px">
                        Tshirt black XL Nike
                      </h4>

                      <!-- Text -->
                      <small class="text-muted">SKU: JKLOh4</small>
                    </div>
                  </div>
                </td>

                <td>
                  <span class="badge badge-soft-primary font-weight-bold"
                    >Sold</span
                  >
                </td>
                <td class="font-weight-bold">$15.87</td>
                <td>$2.79</td>

                <td>Jan 17, 2021</td>
                <!-- LATER: add tooltip -->
                <td class="text-left">
                  <div class="avatar-group">
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Dianna Smiley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>

                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Ab Hadley"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Adolfo Hess"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                    <span
                      class="avatar avatar-xs"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Daniela Dewitt"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1576871337622-98d48d1cf531?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        class="avatar-img rounded-circle"
                        alt="..."
                      />
                    </span>
                  </div>
                </td>
                <td class="text-right">
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <a
                      href="#"
                      class="dropdown-ellipses dropdown-toggle"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- TODO: Maybe add more specific items to list -->
                      <a href="#!" class="dropdown-item"> Edit </a>
                      <a href="#!" class="dropdown-item"> Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
