<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: show error messages -->
<!-- LATER: show character counts -->
<!-- TODO: show subtle error alert that says they need chrome extension installed to list/delist, disable marketplace buttons if they don't have the chrome extension installed. -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Create/Edit</h6>

                <!-- Title -->
                <h1 class="header-title">Item Details</h1>
              </div>

              <div class="col-auto">
                <!-- Button -->
                <a [routerLink]="['/inventory']" class="btn btn-white mr-3">
                  Cancel
                </a>
                <button
                  type="button"
                  (click)="onSubmit()"
                  class="btn btn-primary"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <form
          [formGroup]="itemForm"
          class="mb-4"
          (keydown.enter)="$event.preventDefault()"
        >
          <!-- Images -->
          <div class="form-group">
            <label> Images </label>
            <small class="form-text text-muted">
              Select up to 16 images to showcase your items. (max 6mb file size)
            </small>

            <div *ngIf="item">
              <mat-grid-list class="my-4" cols="6">
                <mat-grid-tile *ngFor="let image of item.images">
                  <div
                    class="border position-relative"
                    style="object-fit: cover; width: 100%; height: 100%"
                  >
                    <img
                      src="{{ storagePath }}{{ image.blobID }}"
                      style="
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                      "
                    />
                    <button
                      class="position-absolute btn-sm btn btn-outline-light btn-rounded-circle"
                      style="top: 4px; right: 4px"
                      (click)="onDeleteImage(image)"
                    >
                      <span class="fe fe-x"></span>
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <div>
              <div [hidden]="isUploading == false" class="mb-4">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>

              <div [hidden]="!item">
                <div
                  [hidden]="item && item.images && item.images.length >= 16"
                  id="upload-images"
                ></div>
              </div>

              <div [hidden]="item && item.images && item.images.length < 16">
                <p class="small text-muted">
                  Maximum images reached. To add more images, clear up space by
                  removing an image.
                </p>
              </div>
            </div>
          </div>

          <!-- Title -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Title </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Title"
                  formControlName="title"
                />
              </div>
            </div>

            <!-- Price -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Price </label>

                <div class="input-group input-group-merge">
                  <input
                    type="number"
                    class="form-control form-control-prepended"
                    formControlName="price"
                  />
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-dollar-sign"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Description -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              placeholder="A brief description of your item"
              formControlName="description"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>
          </div>

          <!-- Brand -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Brand </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Brand"
                  formControlName="brand"
                />
              </div>
            </div>

            <!-- Condition -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Condition </label>

                <select
                  class="custom-select"
                  id="condition"
                  formControlName="condition"
                >
                  <option value="" selected>Choose Item Condition</option>
                  <option value="nwt">New with tag / box</option>
                  <option value="nwot">New without tag / box</option>
                  <option value="good">Good (gently used / minor flaws)</option>
                  <option value="preowned">
                    Pre-owned (used frequently / multiple flaws)
                  </option>
                  <option value="poor">Poor (damaged / major flaws)</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Size -->
          <div class="row">
            <!-- Color -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Color (Optional) </label>

                <select
                  class="custom-select"
                  id="color"
                  formControlName="color"
                >
                  <option value="" selected>Choose Color</option>
                  <option value="black">Black</option>
                  <option value="blue">Blue</option>
                  <option value="brown">Brown</option>
                  <option value="cream">Cream</option>
                  <option value="gold">Gold</option>
                  <option value="gray">Gray</option>
                  <option value="green">Green</option>
                  <option value="orange">Orange</option>
                  <option value="multicolor">Multicolor</option>
                  <option value="pink">Pink</option>
                  <option value="purple">Purple</option>
                  <option value="red">Red</option>
                  <option value="silver">Silver</option>
                  <option value="yellow">Yellow</option>
                  <option value="tan">Tan</option>
                  <option value="white">White</option>
                </select>
              </div>
            </div>

            <!-- SKU -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> SKU (Optional)</label>

                <input type="text" class="form-control" formControlName="sku" />
                <small class="form-text text-muted mt-2">
                  Used for inventory management
                </small>
              </div>
            </div>
          </div>

          <!-- divider -->
          <hr class="mt-4 mb-4" />

          <h2 class="header-title">Private Details</h2>
          <small class="form-text text-muted mt-2">
            This will not be shown on your listing. Only you can view this.
          </small>

          <!-- Cost -->
          <div class="form-group mt-4">
            <label> Cost (Optional)</label>

            <div class="input-group input-group-merge">
              <input
                type="number"
                class="form-control form-control-prepended"
                formControlName="cost"
              />
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-dollar-sign"></span>
                </div>
              </div>
            </div>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Notes -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="notes">Private Notes (Optional)</label>

            <textarea
              id="notes"
              class="form-control"
              placeholder="Write down any notes about this item"
              formControlName="notes"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Divider -->
          <!-- Listing urls -->
          <hr class="mt-5 mb-4" />

          <h2 class="header-title">List Items</h2>
          <small class="form-text text-muted mt-2">
            List, delist, and relist your items with one click. Whenever you
            list your item,
            <b>we automatically track the listing url</b>, or you can enter it
            manually.
          </small>

          <!-- FIX: input heights are different on delist inputs -->

          <!-- Ebay Listing url -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Ebay</label>

                <button
                  *ngIf="item && item.marketplaces.ebay != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.ebay)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Ebay listing url"
                    formControlName="ebay"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.ebay != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Poshmark Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Poshmark</label>

                <button
                  *ngIf="item && item.marketplaces.poshmark != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.poshmark)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Poshmark listing url"
                    formControlName="poshmark"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.poshmark != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Esty Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Etsy</label>

                <button
                  *ngIf="item && item.marketplaces.etsy != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.etsy)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Etsy listing url"
                    formControlName="etsy"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.etsy != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Kidizen Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Kidizen</label>

                <button
                  *ngIf="item && item.marketplaces.kidizen != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.kidizen)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Kidizen listing url"
                    formControlName="kidizen"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.kidizen != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Grailed Listing Url -->

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Grailed</label>

                <button
                  *ngIf="item && item.marketplaces.grailed != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.grailed)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Grailed listing url"
                    formControlName="grailed"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.grailed != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Depop Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Depop</label>

                <button
                  *ngIf="item && item.marketplaces.depop != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.depop)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Depop listing url"
                    formControlName="depop"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.depop != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mercari Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Mercari</label>

                <button
                  *ngIf="item && item.marketplaces.mercari != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.mercari)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Mercari listing url"
                    formControlName="mercari"
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="item && item.marketplaces.mercari != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="onDelistItem()"
                    >
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Facebook Marketplace Listing Url -->
            <!-- LATER: add facebook integration -->
            <!-- <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Facebook Marketplace</label>
        
                        <button
                          *ngIf="item && item.marketplaces.facebook != ''"
                          class="text-muted btn btn-link"
                          (click)="goToLink(item.marketplaces.facebook)"
                          target="_blank"
                        >
                          <span class="fe fe-eye"></span>
                        </button>
        
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            class="form-control form-control-appended"
                            placeholder="Facebook Marketplace listing url"
                            formControlName="facebook"
                          />
                          <div class="input-group-append">
                            <button
                              *ngIf="item && item.marketplaces.facebook != ''"
                              class="btn btn-light"
                              type="button"
                              (click)="onDelistItem()"
                            > -->
            <!-- TODO: list/delist, based on if url is empty or not -->
            <!-- Delist Item -->
            <!-- </button>
                          </div>
                        </div>
                      </div>
                    </div> -->
          </div>

          <!-- Bulk List -->
          <div class="mt-4">
            <button (click)="onListItems()" class="btn btn-block btn-primary">
              List Items
            </button>
            <small class="form-text text-muted mt-2 text-center">
              This will open up the listing preview
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
