<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: show error messages -->
<!-- LATER: show character counts -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Create/Edit</h6>

                <!-- Title -->
                <h1 class="header-title">Item Details</h1>
              </div>

              <div class="col-auto">
                <!-- Button -->
                <a [routerLink]="['/inventory']" class="btn btn-white mr-3">
                  Cancel
                </a>
                <a href="#!" class="btn btn-primary"> Save </a>
              </div>
            </div>
          </div>
        </div>

        <form class="mb-4">
          <!-- Images -->
          <div class="form-group">
            <label> Images </label>
            <small class="form-text text-muted mb-4">
              Select up to 16 images to showcase your items.
            </small>

            <!-- TODO: Whatever images are uploaded with the url, showcase them in a grid -->

            <div class="container">
              <div class="row text-center text-lg-left">
                <!-- <div *ngFor="let src of images">
                  <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img
                        class="img-fluid img-thumbnail"
                        src="{{ src }}"
                        alt=""
                      />
                    </a>
                  </div>
                </div> -->
              </div>
            </div>

            <!-- TODO: upload images -->

            <div id="upload-images"></div>
          </div>

          <!-- Title -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Title </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Title"
                />
              </div>
            </div>

            <!-- Price -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Price </label>

                <div class="input-group input-group-merge">
                  <input
                    type="number"
                    class="form-control form-control-prepended"
                  />
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-dollar-sign"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Description -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              placeholder="A brief description of your item"
              formControlName="description"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>
          </div>

          <!-- Brand -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Brand </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Brand"
                />
              </div>
            </div>

            <!-- Condition -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Condition </label>

                <select class="custom-select" id="condition">
                  <option selected>Choose Item Condition</option>
                  <option value="nwt">New with tag / box</option>
                  <option value="nwot">New without tag / box</option>
                  <option value="good">Good (gently used / minor flaws)</option>
                  <option value="preowned">
                    Pre-owned (used frequently / multiple flaws)
                  </option>
                  <option value="poor">Poor (damaged / major flaws)</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Size -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Size (Optional) </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Sm, Xs, Lg"
                />
              </div>
            </div>

            <!-- Color -->
            <!-- TODO: dropdown -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Primary Color (Optional) </label>

                <select class="custom-select" id="primaryColor">
                  <option selected>Choose Primary Color</option>
                  <option value="black">Black</option>
                  <option value="blue">Blue</option>
                  <option value="brown">Brown</option>
                  <option value="cream">Cream</option>
                  <option value="gold">Gold</option>
                  <option value="gray">Gray</option>
                  <option value="green">Green</option>
                  <option value="orange">Orange</option>
                  <option value="multicolor">Multicolor</option>
                  <option value="pink">Pink</option>
                  <option value="purple">Purple</option>
                  <option value="red">Red</option>
                  <option value="silver">Silver</option>
                  <option value="yellow">Yellow</option>
                  <option value="tan">Tan</option>
                  <option value="white">White</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Tags -->
          <!-- TODO: separate with , -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Item Tags (Optional)</label>

                <input type="text" class="form-control" placeholder="" />
                <small class="form-text text-muted mt-2">
                  Separate item tags with a comma ','
                </small>
              </div>
            </div>

            <!-- SKU -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> SKU (Optional)</label>

                <input type="text" class="form-control" placeholder="" />
                <small class="form-text text-muted mt-2">
                  Used for inventory management
                </small>
              </div>
            </div>
          </div>

          <!-- Divider -->
          <hr class="mt-4 mb-4" />

          <h2 class="header-title">Package Details</h2>

          <!-- Package Weight -->
          <div class="mt-4">
            <div class="form-group">
              <label>Package Weight (Optional)</label>

              <!-- Pounds -->
              <div class="input-group input-group-merge">
                <input
                  type="number"
                  class="form-control form-control-appended"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span>lb</span>
                  </div>
                </div>

                <!-- Ounces -->
                <input
                  type="number"
                  class="ml-3 form-control form-control-appended"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span>oz</span>
                  </div>
                </div>
              </div>

              <small class="form-text text-muted mt-2">
                Calculated using pounds(lb) / ounces(oz)
              </small>
            </div>
          </div>

          <!-- Package Dimensions -->
          <div class="form-group">
            <label>Package Dimensions (Optional)</label>

            <!-- Length -->
            <div class="input-group input-group-merge">
              <input type="number" class="form-control form-control-appended" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span>in</span>
                </div>
              </div>

              <!-- Width -->
              <input
                type="number"
                class="ml-3 form-control form-control-appended"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span>in</span>
                </div>
              </div>

              <!-- Height -->
              <input
                type="number"
                class="ml-3 form-control form-control-appended"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span>in</span>
                </div>
              </div>
            </div>

            <small class="form-text text-muted mt-2">
              Measured using length(inches) / width(inches) / height(inches)
            </small>
          </div>

          <!-- Zip code -->
          <div class="form-group">
            <label>Zip Code (Optional)</label>

            <input
              type="number"
              class="form-control"
              placeholder="5 digit zip-code"
            />
            <small class="form-text text-muted mt-2">
              Used to calculate shipping
            </small>
          </div>

          <!-- divider -->
          <hr class="mt-4 mb-4" />

          <h2 class="header-title">Private Details</h2>
          <small class="form-text text-muted mt-2">
            This will not be shown on your listing. Only you can view this.
          </small>

          <!-- Cost -->
          <div class="form-group mt-4">
            <label> Cost (Optional)</label>

            <div class="input-group input-group-merge">
              <input
                type="number"
                class="form-control form-control-prepended"
              />
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-dollar-sign"></span>
                </div>
              </div>
            </div>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Notes -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="notes">Private Notes (Optional)</label>

            <textarea
              id="notes"
              class="form-control"
              placeholder="Write down any notes about this item"
              formControlName="notes"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Divider -->
          <!-- Listing urls -->
          <hr class="mt-5 mb-4" />

          <h2 class="header-title">List Items</h2>
          <small class="form-text text-muted mt-2">
            List, delist, and relist your items with one click. Whenever you
            list your item,
            <b>we automatically track the listing url</b>, or you can enter it
            manually.
          </small>

          <!-- Ebay Listing url -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Ebay</label>

                <!-- TODO: ngif only if item is listed, link to listing url so they cna view if they want -->
                <a
                  class="ml-2 text-muted"
                  href="https://www.ebay.com/itm/Roku-Streaming-Stick-HD-4K-HDR-Streaming-Device-Voice-Remote-2019/254137917244"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span
                ></a>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Ebay listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      List Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Poshmark Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Poshmark</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Poshmark listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mercari Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Mercari</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Mercari listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      List Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Facebook Marketplace Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Facebook Marketplace</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Facebook Marketplace listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Esty Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Etsy</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Etsy listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      List Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tradesy Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Tradesy</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Tradesy listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Grailed Listing Url -->

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Grailed</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Grailed listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      List Item
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Depop Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Depop</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Depop listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                      Delist Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Kidizen Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Kidizen</label>

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Kidizen listing url"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <!-- TODO: list/delist, based on if url is empty or not -->
                      List Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Bulk List -->
          <div class="mt-4">
            <button class="btn btn-block btn-primary">Bulk List Items</button>
            <small class="form-text text-muted mt-2 text-center">
              This will open up multiple tabs of marketplaces that haven't been
              listed
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
