<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<!-- LATER: show error messages -->
<!-- LATER: show character counts -->
<!-- LATER: show subtle error alert that says they need chrome extension installed to list/delist, disable marketplace buttons if they don't have the chrome extension installed. -->

<!-- LATER: don't show red error messages when on marketplace url when if the input is only whitespace, so trim it in the validation -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Create/Edit</h6>

                <!-- Title -->
                <h1 class="header-title">Item Details</h1>
              </div>

              <div class="col-auto">
                <!-- Button -->
                <a [routerLink]="['/inventory']" class="btn btn-white mr-3">
                  Cancel
                </a>
                <button
                  type="button"
                  (click)="onSubmit()"
                  class="btn btn-primary"
                  [disabled]="!itemForm.valid"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <form
          [formGroup]="itemForm"
          class="mb-4"
          (keydown.enter)="$event.preventDefault()"
        >
          <!-- Images -->
          <div class="form-group">
            <label> Images </label>
            <small class="form-text text-muted">
              Select up to 16 images to showcase your items. (max 6mb file size)
            </small>

            <div *ngIf="item">
              <mat-grid-list class="my-4" cols="6">
                <mat-grid-tile *ngFor="let image of item.images">
                  <div
                    class="border position-relative"
                    style="object-fit: cover; width: 100%; height: 100%"
                  >
                    <img
                      src="{{ storagePath }}{{ image.blobID }}"
                      style="
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                      "
                    />
                    <button
                      class="
                        position-absolute
                        btn-sm btn btn-outline-light btn-rounded-circle
                      "
                      style="top: 4px; right: 4px"
                      (click)="onDeleteImage(image)"
                    >
                      <span class="fe fe-x"></span>
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <div>
              <div [hidden]="isUploading == false" class="mb-4">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>

              <div [hidden]="!item">
                <div
                  [hidden]="item && item.images && item.images.length >= 16"
                  id="upload-images"
                ></div>
              </div>

              <div [hidden]="item && item.images && item.images.length < 16">
                <p class="small text-muted">
                  Maximum images reached. To add more images, clear up space by
                  removing an image.
                </p>
              </div>
            </div>
          </div>

          <!-- Title -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Title </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Title"
                  formControlName="title"
                />
              </div>
            </div>

            <!-- Price -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Price </label>

                <div class="input-group input-group-merge">
                  <input
                    type="number"
                    class="form-control form-control-prepended"
                    formControlName="price"
                  />
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-dollar-sign"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Description -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              placeholder="A brief description of your item"
              formControlName="description"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>
          </div>

          <!-- Brand -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Brand </label>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Item Brand"
                  formControlName="brand"
                />
              </div>
            </div>

            <!-- Condition -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Condition </label>

                <select
                  class="custom-select"
                  id="condition"
                  formControlName="condition"
                >
                  <option value="" selected>Choose Item Condition</option>
                  <option value="nwt">New with tag / box</option>
                  <option value="nwot">New without tag / box</option>
                  <option value="good">Good (gently used / minor flaws)</option>
                  <option value="preowned">
                    Pre-owned (used frequently / multiple flaws)
                  </option>
                  <option value="poor">Poor (damaged / major flaws)</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Size -->
          <div class="row">
            <!-- Color -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> Color (Optional) </label>

                <select
                  class="custom-select"
                  id="color"
                  formControlName="color"
                >
                  <option value="" selected>Choose Color</option>
                  <option value="black">Black</option>
                  <option value="blue">Blue</option>
                  <option value="brown">Brown</option>
                  <option value="cream">Cream</option>
                  <option value="gold">Gold</option>
                  <option value="gray">Gray</option>
                  <option value="green">Green</option>
                  <option value="orange">Orange</option>
                  <option value="multicolor">Multicolor</option>
                  <option value="pink">Pink</option>
                  <option value="purple">Purple</option>
                  <option value="red">Red</option>
                  <option value="silver">Silver</option>
                  <option value="yellow">Yellow</option>
                  <option value="tan">Tan</option>
                  <option value="white">White</option>
                </select>
              </div>
            </div>

            <!-- SKU -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label> SKU (Optional)</label>

                <input type="text" class="form-control" formControlName="sku" />
                <small class="form-text text-muted mt-2">
                  Used for inventory management
                </small>
              </div>
            </div>
          </div>

          <!-- divider -->
          <hr class="mt-4 mb-4" />

          <h2 class="header-title">Private Details</h2>
          <small class="form-text text-muted mt-2">
            This will not be shown on your listing. Only you can view this.
          </small>

          <!-- Cost -->
          <div class="form-group mt-4">
            <label> Cost (Optional)</label>

            <div class="input-group input-group-merge">
              <input
                type="number"
                class="form-control form-control-prepended"
                formControlName="cost"
              />
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-dollar-sign"></span>
                </div>
              </div>
            </div>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Notes -->
          <!-- LATER: auto expand text area -->
          <div class="form-group">
            <label for="notes">Private Notes (Optional)</label>

            <textarea
              id="notes"
              class="form-control"
              placeholder="Write down any notes about this item"
              formControlName="notes"
              style="min-height: 100px; max-height: 225px; resize: vertical"
            ></textarea>

            <small class="form-text text-muted mt-2">
              Only you can view this
            </small>
          </div>

          <!-- Divider -->
          <!-- Listing urls -->
          <hr class="mt-5 mb-4" />

          <h2 class="header-title">List Items</h2>
          <!-- TODO: regex for input urls -->
          <!-- TODO: instead of delist, just let them view the item -->
          <small class="form-text text-muted mt-2">
            List, manage, and organize all your listings in one click. Link your
            item from the marketplace's listing page with our extension, or you
            can enter it manually.
          </small>

          <!-- LATER: input heights are different on delist inputs -->
          <!-- LATER: when user first pastes item, they don't see the view option right away, we should change that. Get the current input value, instead of the saved firebase value, and that's how we should respond to the view/hide button. To provide a good ux -->

          <!-- Ebay Listing url -->
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Ebay</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.ebay != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.ebay)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Ebay listing url"
                    formControlName="ebay"
                    #ebayInput
                  />

                  <div class="input-group-append">
                    <button
                      *ngIf="ebayInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(ebayInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('ebay').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.ebay.com/itm/1234</b>
                </span>
              </div>
            </div>

            <!-- Poshmark Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Poshmark</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.poshmark != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.poshmark)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Poshmark listing url"
                    formControlName="poshmark"
                    #poshmarkInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="poshmarkInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(poshmarkInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>
                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('poshmark').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.poshmark.com/listing/1234</b>
                </span>
              </div>
            </div>
          </div>

          <!-- Esty Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Etsy</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.etsy != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.etsy)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Etsy listing url"
                    formControlName="etsy"
                    #etsyInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="etsyInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(etsyInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('etsy').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.etsy.com/listing/1234</b>
                </span>
              </div>
            </div>

            <!-- Kidizen Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Kidizen</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.kidizen != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.kidizen)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Kidizen listing url"
                    formControlName="kidizen"
                    #kidizenInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="kidizenInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(kidizenInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('kidizen').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.kidizen.com/items/1234</b>
                </span>
              </div>
            </div>
          </div>

          <!-- Grailed Listing Url -->

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Grailed</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.grailed != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.grailed)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Grailed listing url"
                    formControlName="grailed"
                    #grailedInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="grailedInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(grailedInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('grailed').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.grailed.com/listings/1234</b>
                </span>
              </div>
            </div>

            <!-- Depop Listing Url -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Depop</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.depop != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.depop)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Depop listing url"
                    formControlName="depop"
                    #depopInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="depopInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(depopInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('depop').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.depop.com/products/1234</b>
                </span>
              </div>
            </div>
          </div>

          <!-- Mercari Listing Url -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Mercari</label>

                <!-- <button
                  *ngIf="item && item.marketplaces.mercari != ''"
                  class="text-muted btn btn-link"
                  (click)="goToLink(item.marketplaces.mercari)"
                  target="_blank"
                >
                  <span class="fe fe-eye"></span>
                </button> -->

                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    class="form-control form-control-appended"
                    placeholder="Mercari listing url"
                    formControlName="mercari"
                    #mercariInput
                  />
                  <div class="input-group-append">
                    <button
                      *ngIf="mercariInput.value != ''"
                      class="btn btn-light"
                      type="button"
                      (click)="goToLink(mercariInput.value)"
                    >
                      View Item
                    </button>
                  </div>
                </div>

                <!-- Invalid Listing URL -->
                <span
                  class="small text-danger"
                  *ngIf="itemForm.get('mercari').hasError('UrlInvalid')"
                >
                  Please enter a valid listing url such as:
                  <b>https://www.mercar.com/us/item/1234</b>
                </span>
              </div>
            </div>

            <!-- Facebook Marketplace Listing Url -->
            <!-- LATER: add facebook integration -->
            <!-- <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Facebook Marketplace</label>
        
                        <button
                          *ngIf="item && item.marketplaces.facebook != ''"
                          class="text-muted btn btn-link"
                          (click)="goToLink(item.marketplaces.facebook)"
                          target="_blank"
                        >
                          <span class="fe fe-eye"></span>
                        </button>
        
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            class="form-control form-control-appended"
                            placeholder="Facebook Marketplace listing url"
                            formControlName="facebook"
                          />
                          <div class="input-group-append">
                            <button
                              *ngIf="item && item.marketplaces.facebook != ''"
                              class="btn btn-light"
                              type="button"
                              (click)="onDelistItem()"
                            > -->
            <!-- View Item -->
            <!-- </button>
                          </div>
                        </div>
                      </div>
                    </div> -->
          </div>

          <!-- Bulk List -->
          <div class="mt-4">
            <button
              (click)="onListItems()"
              class="btn btn-block btn-primary"
              [disabled]="!itemForm.valid"
            >
              List Items
            </button>
            <small class="form-text text-muted mt-2 text-center">
              Install Chrome Extension to Crosslist
              <!-- LATER: add error message when chrome extension not enabled, detect it with a content script -->
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- LATER: instead of having button that delists for you(this can cause alot of problems since no two marketplaces have the same delete item functionality, some of them are really difficult, like ebay for example.) But you can have a button to edit the item for them, so if they update rs-details, they can update details on marketplaces. -->
