<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<div class="main-content">
  <div class="container-fluid">
    <!-- <app-pricing-modal></app-pricing-modal> -->

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Getting Started</h6>

                <!-- Title -->
                <h1 class="header-title">ResellSavvy Extension</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div
            class="card-body col-12 col-md-8 col-lg-6 col-xl-5 justify-content-center text-center mx-auto"
          >
            <h2 class="card-title text-center">Welcome to ResellSavvy 👋</h2>
            <p class="text-secondary text-center mt-3">
              The ResellSavvy Chrome Extension is a crosslisting tool that helps
              you
              <b>crosslist your items with one click</b> to the biggest online
              shopping marketplaces, to help you save time, make more sales, and
              grow your business online! 🥳 <br />
              <br />

              <b>
                Marketplaces: Ebay, Poshmark, Mercari, Etsy, Facebook
                Marketplace, Depop, Tradesy, Grailed, Kidizen
              </b>
              <br />
              <br />

              Get Started by downloading the extension and adding it to your
              chrome browser.
            </p>

            <div class="text-center">
              <!-- TODO: link to live chrome extension -->
              <button class="btn btn-primary">Download Chrome Extension</button>
            </div>

            <div class="mt-2">
              <small class="text-muted">
                You need a
                <a href="https://www.google.com/chrome/" target="_blank"
                  >chrome browser</a
                >
                to download this extension</small
              >
            </div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto">
              <h2 class="card-title text-center">Watch Video Tutorial 🎬</h2>
              <p class="text-secondary text-center mt-2">
                Learn how to use ResellSavvy to crosslist and manage your
                inventory. 😁
              </p>
            </div>

            <div class="col-10 text-center mx-auto">
              <div class="embed-responsive embed-responsive-16by9">
                <!-- TODO: add your own video here later of a tutorial on how to use -->

                <iframe
                  class="rounded"
                  src="https://player.vimeo.com/video/532396381"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  frameborder="0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <script src="https://player.vimeo.com/api/player.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
