<form
  [formGroup]="soldForm"
  (keydown.enter)="$event.preventDefault()"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label> Choose Marketplace Where Item Was Sold </label>

    <select
      class="custom-select"
      id="marketplace"
      formControlName="marketplace"
      placeholder="Choose Marketplace"
      required
    >
      <!-- <option value="" selected>Choose Marketplace</option> -->
      <option value="poshmark">Poshmark</option>
      <option value="mercari">Mercari</option>
      <option value="ebay">Ebay</option>
      <option value="etsy">Etsy</option>
      <option value="depop">Depop</option>
      <!--LATER:  <option value="facebook">Facebook Marketplace</option> -->
      <option value="grailed">Grailed</option>
      <option value="kidizen">Kidizen</option>
      <!--LATER: <option value="tradesy">Tradesy</option> -->
    </select>

    <!-- Tip -->
    <small class="form-text text-muted mt-2">
      Don't forget to delist your item from the other marketplaces
    </small>
  </div>

  <!-- Row -->
  <div class="row">
    <!-- SellPrice -->
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label> Sell Price </label>
        <div class="input-group input-group-merge">
          <input
            type="number"
            class="form-control form-control-prepended"
            formControlName="sellPrice"
            required
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-dollar-sign"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cost -->
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label> Cost Of Item(Optional)</label>
        <div class="input-group input-group-merge">
          <input
            type="number"
            class="form-control form-control-prepended"
            formControlName="cost"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-dollar-sign"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fees -->
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label> Marketplace Fees (Optional) </label>
        <div class="input-group input-group-merge">
          <input
            type="number"
            class="form-control form-control-prepended"
            formControlName="fees"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-dollar-sign"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-white mr-4" mat-dialog-close type="button">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="!soldForm.valid">
      Mark as Sold
    </button>
  </div>
</form>
