<!-- LATER: have better and more streamlined paywall like fomo.com(and make them be able to pay onsite, without having to go to stripe dashboard) -->
<!-- LATER: before getting subscriptionstatus show loading spinner for better ui/ux -->

<div class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
  <app-navbar></app-navbar>
</div>

<div class="main-content">
  <div class="container-fluid">
    <!-- HEADER -->
    <div class="my-4">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10 col-xl-8">
            <!-- Title -->

            <div
              *ngIf="
                subscriptionStatus && subscriptionStatus == 'resubscribe';
                else headerText
              "
            >
              <h2 class="display-3 text-center">Resubscribe Membership 🥳</h2>

              <!-- Text -->
              <p class="lead text-center text-muted">
                Resubscribe to start crosslisting all your items again.
                <br />
                <b>No Risk. Cancel Anytime.</b>
              </p>
            </div>

            <ng-template #headerText>
              <h1 class="display-3 text-center">Get Started For Free 🥳</h1>

              <!-- Text -->
              <p class="lead text-center text-muted">
                Start a free trial to start crosslisting all your items.
                <br />
                <b>No Risk. Cancel Anytime.</b>
              </p>
            </ng-template>
          </div>
        </div>
        <!-- / .row -->
      </div>
    </div>

    <!-- Content -->
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
          <!-- Card -->

          <div class="text-center" *ngIf="subscriptionStatus != 'resubscribe'">
            <p class="text-muted text-center mb-1">
              Your card won't be charged during your free trial.
            </p>
          </div>
          <div class="card">
            <div class="card-body">
              <div>
                <div
                  *ngIf="
                    subscriptionStatus && subscriptionStatus == 'resubscribe';
                    else cardHeader
                  "
                >
                  <h2 class="text-center text-xl font-bold text-gray-900">
                    Resubscribe Membership
                  </h2>
                  <p class="mt-1 text-center text-sm text-gray-900 max-w">
                    just <b>$29/month.</b>
                  </p>
                </div>

                <ng-template #cardHeader>
                  <div>
                    <h2 class="text-center text-xl font-bold text-gray-900">
                      Start Your 14 Day Free-Trial
                    </h2>
                    <p class="mt-1 text-center text-sm text-gray-900 max-w">
                      then just <b>$29/month.</b>
                    </p>
                  </div>
                </ng-template>
              </div>

              <!-- Features -->
              <div class="mb-3">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex align-items-center justify-content-between px-0"
                  >
                    <small>Unlimited Listings Per Month</small>
                    <i class="fe fe-check-circle text-success"></i>
                  </li>
                  <li
                    class="list-group-item d-flex align-items-center justify-content-between px-0"
                  >
                    <small>Unlimited Marketplaces</small>
                    <i class="fe fe-check-circle text-success"></i>
                  </li>
                  <li
                    class="list-group-item d-flex align-items-center justify-content-between px-0"
                  >
                    <small>Unlimited Inventory</small>
                    <i class="fe fe-check-circle text-success"></i>
                  </li>

                  <li
                    class="list-group-item d-flex align-items-center justify-content-between px-0"
                  >
                    <small>Inventory and Sales Management</small>
                    <i class="fe fe-check-circle text-success"></i>
                  </li>
                  <li
                    class="list-group-item d-flex align-items-center justify-content-between px-0"
                  >
                    <small>Priority Customer Support</small>
                    <i class="fe fe-check-circle text-success"></i>
                  </li>
                </ul>
              </div>

              <!-- Button -->
              <div class="text-center">
                <!-- LATER: loading spinner -->
                <button
                  (click)="onStripeCheckout(false)"
                  class="btn btn-block btn-primary"
                >
                  <span
                    *ngIf="
                      subscriptionStatus && subscriptionStatus == 'resubscribe';
                      else buttonText
                    "
                  >
                    Resubscribe for $29
                  </span>

                  <ng-template #buttonText>
                    <span> Start 14 day free-trial </span>
                  </ng-template>
                </button>
                <button
                  (click)="onStripeCheckout(true)"
                  class="btn btn-link text-center"
                >
                  Enter Coupon Code
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
