/* Marketplace colors */

$poshmark: #822432;
$mercari: #5356ee;
$ebay: #86b817;
$depop: #ff2300;
$etsy: #f1641e;
$grailed: #343434;
$kidizen: black;

.poshmark {
  background-color: $poshmark;
  color: white;
}
.mercari {
  background-color: $mercari;
  color: white;
}
.ebay {
  background-color: $ebay;
  color: white;
}
.depop {
  background-color: $depop;
  color: white;
}
.etsy {
  background-color: $etsy;
  color: white;
}
.grailed {
  background-color: $grailed;
  color: white;
}
.kidizen {
  background-color: $kidizen;
  color: white;
}
