<!-- TODO: make this an if not upgraded yet, also make it a yellow alert. -->

<div class="container-fluid">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Upgrade
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="max-width: 90%" role="document">
      <div class="modal-content">
        <div class="main-content">
          <!-- HEADER -->
          <div class="pt-7 mb-2">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                  <!-- Title -->
                  <h1 class="display-3 text-center">
                    Upgrade to Start Growing your Reselling Business 🥳
                  </h1>

                  <!-- Text -->
                  <h2 class="text-center mt-2">
                    <!-- TODO: add question mark explaining that this only counts for new items, but you can have unlimited items in your inventory -->
                    How many <b>new items</b> do you list per month?
                  </h2>
                </div>
              </div>
              <!-- / .row -->
            </div>
          </div>

          <!-- CONTENT -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card">
                  <div class="card-body">
                    <!-- Title -->
                    <h4 class="text-uppercase text-center text-muted my-4">
                      500 New Listings Per Month
                    </h4>

                    <!-- Price -->
                    <div
                      class="row no-gutters align-items-center justify-content-center"
                    >
                      <div class="col-auto">
                        <div class="h2 mb-0">$</div>
                      </div>
                      <div class="col-auto">
                        <div class="display-2 mb-0">29</div>
                      </div>
                    </div>
                    <!-- / .row -->

                    <!-- Period -->
                    <div class="h6 text-uppercase text-center text-muted mb-5">
                      / month
                    </div>

                    <!-- Features -->
                    <div class="mb-3">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>New Listings Per Month</small>
                          <small>500</small>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Marketplaces</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Inventory</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>

                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Inventory and Sales Management</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                      </ul>
                    </div>

                    <!-- Button -->
                    <a href="#!" class="btn btn-block btn-primary">
                      Start with Pro
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card">
                  <div class="card-body">
                    <!-- Title -->
                    <h4 class="text-uppercase text-center text-muted my-4">
                      1500 New Listings Per Month
                    </h4>

                    <!-- Price -->
                    <div
                      class="row no-gutters align-items-center justify-content-center"
                    >
                      <div class="col-auto">
                        <div class="h2 mb-0">$</div>
                      </div>
                      <div class="col-auto">
                        <div class="display-2 mb-0">49</div>
                      </div>
                    </div>
                    <!-- / .row -->

                    <!-- Period -->
                    <div class="h6 text-uppercase text-center text-muted mb-5">
                      / month
                    </div>

                    <!-- Features -->
                    <div class="mb-3">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>New Listings Per Month</small>
                          <small>1500</small>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Marketplaces</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Inventory</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>

                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Inventory and Sales Management</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                      </ul>
                    </div>

                    <!-- Button -->
                    <a href="#!" class="btn btn-block btn-light">
                      Start with Business
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card">
                  <div class="card-body">
                    <!-- Title -->
                    <h4 class="text-uppercase text-center text-muted my-4">
                      3000 New Listings Per Month
                    </h4>

                    <!-- Price -->
                    <div
                      class="row no-gutters align-items-center justify-content-center"
                    >
                      <div class="col-auto">
                        <div class="h2 mb-0">$</div>
                      </div>
                      <div class="col-auto">
                        <div class="display-2 mb-0">99</div>
                      </div>
                    </div>
                    <!-- / .row -->

                    <!-- Period -->
                    <div class="h6 text-uppercase text-center text-muted mb-5">
                      / month
                    </div>

                    <!-- Features -->
                    <div class="mb-3">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>New Listings Per Month</small>
                          <small>3000</small>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Marketplaces</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Unlimited Inventory</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>

                        <li
                          class="list-group-item d-flex align-items-center justify-content-between px-0"
                        >
                          <small>Inventory and Sales Management</small>
                          <i class="fe fe-check-circle text-success"></i>
                        </li>
                      </ul>
                    </div>

                    <!-- Button -->
                    <a href="#!" class="btn btn-block btn-light">
                      Start with Enterprise
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- / .row -->
            <div class="row">
              <div class="col-12">
                <!-- Card -->
                <div class="card card-inactive">
                  <div class="card-body">
                    <!-- Title -->
                    <h3 class="text-center">Need higher limits?</h3>

                    <!-- Text -->
                    <p class="text-muted text-center">
                      Contact us and we can help you scale your reselling
                      business with no limits.
                    </p>

                    <!-- Button -->
                    <div class="text-center">
                      <a href="#!" class="btn btn-outline-secondary">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
